<?xml version="1.0"?>
<!--
  this application is created by vithal wadje
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="emp" connectionString="server=127.0.0.1;Uid=root;password=123456;database=web"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>